@media screen and (max-width: 992px) {
  .blogsCarousel .blog .height img {
    width: 250px;
  }
  .blogsCarousel .blog .height {
    min-height: 255px;
  }
  nav.active {
    background: var(--secondary);
  }
  .navlinks {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background: var(--secondary);
  }
  .navlinks.active {
    height: 165px;
    border-bottom: 1px solid var(--primary);
  }
  .navlinks li {
    margin-bottom: 10px;
  }
  .navlinks li a {
    font-size: 1.25rem;
  }
  .chooseCard {
    min-height: 385px;
  }
  .detailgrid > div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .detailgrid > div:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .detailgrid > div:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .detailgrid > div:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .contactContainer .rightSection,
  .contactContainer .leftSection {
    min-height: auto;
  }
  .projectCard .height {
    min-height: auto;
  }
  .call,
  .scrollToTop {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
  }
  .configurations {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .blogsCarousel .blog .height img {
    width: 200px;
  }
  .blogsCarousel .blog .height {
    min-height: auto;
  }
  .blogsCarousel .blog {
    margin-right: 20px;
  }
  .aboutBanner img {
    width: 75px;
  }
  .aboutBanner .row > div:last-child {
    margin-top: 20px;
  }
  .banner .intro {
    top: 30%;
  }
}
@media screen and (max-width: 420px) {
  .myCard p,
  .myCard svg {
    font-size: 12px;
  }
  .configurations {
    grid-template-columns: 1fr;
  }
  .detailgrid {
    grid-template-columns: 1fr;
  }
  .detailgrid > div:nth-child(1) {
    grid-column: 1/5;
  }
  .detailgrid > div:nth-child(2) {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .detailgrid > div:nth-child(3) {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .detailgrid > div:nth-child(4) {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 380px) {
  .myCard.long {
    grid-row: span 1;
  }
  .myCard p,
  .myCard svg {
    font-size: 16px;
  }
}

/* height */
@media screen and (max-height: 576px) {
  .aboutBanner {
    min-height: auto;
  }
}
